@charset 'utf-8';

.btn{
    font-size: 20px;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 2px;
    margin: 20px 8px;
    color: white;
}


.btn_positive{
    background-color: $main_color;
    &:hover{
        background-color:$main-color-hover ;
    }
}
.btn_negative{
    background-color: rgb(185, 185, 185);
    &:hover{
        background-color: rgb(87, 87, 87);
    }
}

.follow_btn{
    margin: 20px 0 4px 0;
    border-radius: 20px;
    padding: 4px 20px;
    color: white;
}
.follow{
    background-color: $main_color;
}
.follow_cancel{
    background-color: rgb(185, 185, 185);
}
