@charset 'utf-8';



header{
    ul{
        font-size: 30px;
        color: #000;
        font-family: Georgia, 'Times New Roman', Times, serif;
        display: flex;
        justify-content: space-around;
        margin-left: 15%;
        margin-right: 15%;
    }

    .header_space{
        height: 50px;
        text-align: right;


        &__img{
            width: 65px;
            height: 65px;
            border-radius: 50px;
            margin-right: 20px;
            cursor: pointer;
        }
    }
    
    .header_text{
        font-size: 18px;
        color: $main-color;
    
    }
    

}

