@charset 'utf-8';

.subtitle{
    padding-top: 40px;
}

.profile_img{
    border-radius:2px;
    cursor: pointer;
    width:240px;
    height:240px;
}

/* textarea のスタイル */
.profile_input{
    border: 0.1px solid #dfdfdf;
    border-radius:2px;
    font-weight: bold;
/* 選択時 */
    &:focus { 
    border: 2px solid $main_color;
    outline: 0;
    }
}

/* textarea のスタイル */
.profile_textarea{
        width: 420px;
        height: 160px;
        border: 0.1px solid #dfdfdf;
        border-radius:2px;
    /* 選択時 */
        &:focus { 
        border: 2px solid $main_color;
        outline: 0;
        }
}

.profile{
    &__follow_followers{
        display: inline-flex;
        &__btn{
            margin: 6px 16px;
            cursor: pointer;
        }
    }

    &__name{
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            font-size: 24px;
            font-weight: bold;
            margin-top: 5px;
        }
        img{
            width: 20px;
            cursor: pointer;
            margin-left: 5px;
        }
    }
}

.user_des{
    width:500px;
    margin:0 auto;
    margin-top: 12px;
}

.my_modal{
    &__title{

        margin: 0 auto;
        margin-bottom: 12px;
        display: inline-flex;
        p{
            font-size: 26px;
            padding: 4px 24px;
        }
        &__follow{
            border-bottom: 2px solid rgb(175, 175, 175);
        }
        &__follower{
            border-bottom: 2px solid rgb(175, 175, 175);
        }
    }
    &__artists{
        text-align: left;
        font-size: 20px;
        margin-left: 40px;

        tr{
            height: 50px;
        }
    }
    &__img{
        text-align: left;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        cursor: pointer;
        object-fit: cover;
    }
    &__text{
        margin-left: 20px;
    }
}

// hr{
//     border-bottom:2px solid rgb(175, 175, 175); 
//     width:60%;
//     margin: 0 auto;
// }