@charset "UTF-8";
body {
  text-align: center;
}
body h1 {
  font-size: 85px;
  margin-top: 20px;
}
body h2 {
  font-size: 32px;
  font-family: "PT Serif", serif;
}
body p {
  font-size: 18px;
  font-family: "PT Serif", serif;
}
body input {
  font-family: "PT Serif", serif;
}
body a {
  cursor: pointer;
}
body img {
  -o-object-fit: cover;
     object-fit: cover;
}
body .japanese {
  font-family: "Noto Sans JP", sans-serif;
}
body .main_guide_text {
  margin: 30px 0px 15px 0px;
  color: rgb(122, 122, 122);
}

/*! sanitize.css v3.2.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
/*
 * Normalization
 */
audio:not([controls]) {
  display: none; /* Chrome 44-, iOS 8+, Safari 9+ */
}

button {
  -webkit-appearance: button; /* iOS 8+ */
  overflow: visible; /* Internet Explorer 11- */
}

details {
  display: block; /* Edge 12+, Firefox 40+, Internet Explorer 11-, Windows Phone 8.1+ */
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar; /* Edge 12+, Internet Explorer 11- */
  overflow-y: scroll; /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%; /* iOS 8+ */
}

input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* iOS 8+ */
}

input[type=number] {
  width: auto; /* Firefox 36+ */
}

input[type=search] {
  -webkit-appearance: textfield; /* Chrome 45+, Safari 9+ */
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Chrome 45+, Safari 9+ */
}

main {
  display: block; /* Android 4.3-, Internet Explorer 11-, Windows Phone 8.1+ */
}

pre {
  overflow: auto; /* Internet Explorer 11- */
}

progress {
  display: inline-block; /* Internet Explorer 11-, Windows Phone 8.1+ */
}

small {
  font-size: 75%; /* All browsers */
}

summary {
  display: block; /* Firefox 40+, Internet Explorer 11-, Windows Phone 8.1+ */
}

svg:not(:root) {
  overflow: hidden; /* Internet Explorer 11- */
}

template {
  display: none; /* Android 4.3-, Internet Explorer 11-, iOS 7-, Safari 7-, Windows Phone 8.1+ */
}

textarea {
  overflow: auto; /* Edge 12+, Internet Explorer 11- */
}

[hidden] {
  display: none; /* Internet Explorer 10- */
}

/*
 * Universal inheritance
 */
*,
:before,
:after {
  box-sizing: inherit;
}

* {
  font-size: inherit;
  line-height: inherit;
}

:before,
:after {
  text-decoration: inherit;
  vertical-align: inherit;
}

/*
 * Opinionated defaults
 */
/* specify the border style and width of all elements */
*,
:before,
:after {
  border-style: solid;
  border-width: 0;
}

/* specify the core styles of all elements */
* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* specify the root styles of the document */
:root {
  background-color: #ffffff;
  box-sizing: border-box;
  color: #000000;
  cursor: default;
  font: 100%/1.5 sans-serif;
}

/* specify the text decoration of anchors */
a {
  text-decoration: none;
}

/* specify the alignment of media elements */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* specify the background color of form elements */
button,
input,
select,
textarea {
  background-color: transparent;
}

/* specify the inherited color and font of form elements */
button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

/* specify the minimum height of form elements */
button,
[type=button],
[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=reset],
[type=search],
[type=submit],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
select,
textarea {
  min-height: 1.5em;
}

/* specify the font family of code elements */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

/* specify the list style of nav lists */
nav ol,
nav ul {
  list-style: none;
}

/* specify the standard appearance of selects */
select {
  -moz-appearance: none; /* Firefox 40+ */
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none; /* Edge 12+, Internet Explorer 11- */
}

select::-ms-value {
  color: currentColor; /* Edge 12+, Internet Explorer 11- */
}

/* specify the border styling of tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* specify the resizability of textareas */
textarea {
  resize: vertical;
}

/* specify the background color, font color, and drop shadow of text selections */
::-moz-selection {
  background-color: #b3d4fc; /* required when declaring ::selection */
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc; /* required when declaring ::selection */
  color: #ffffff;
  text-shadow: none;
}

/* specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/* specify the style of visually hidden yet accessible elements */
[hidden][aria-hidden=false] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute;
}

[hidden][aria-hidden=false]:focus {
  clip: auto;
}

/* remove delay from tapping on clickable elements */
a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  touch-action: manipulation;
}


:root, html, body {
  background-color: #fff;
  width: 100%;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

header ul {
  font-size: 36px;
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  justify-content: space-around;
  margin-left: 12%;
  margin-right: 12%;
}
header p {
  font-size: 24px;
}
header hr {
  border-top: 1px solid black;
  width: 450px;
  margin: 0 auto;
}
header .logo {
  width: 290px;
}
header .logo_text {
  margin-top: 34px;
  margin-bottom: 58px;
}
header .header_space {
  height: 50px;
  text-align: right;
}
header .header_space__img {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  position: relative;
  top: 6px;
  left: -16px;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}
header .header_space__text {
  position: relative;
  top: 10px;
  left: -24px;
  cursor: pointer;
}
header .header_text {
  font-size: 18px;
  color: #A71286;
}

footer {
  background-color: #A71286;
  color: #fff;
  height: 20px;
}
footer p {
  font-size: 12px;
}

.btn {
  font-size: 20px;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 2px;
  margin: 20px 8px 5px;
  color: white;
}

.btn_positive {
  background-color: #A71286;
}
.btn_positive:hover {
  background-color: #ac649c;
}

.btn_negative {
  background-color: rgb(185, 185, 185);
}
.btn_negative:hover {
  background-color: rgb(87, 87, 87);
}

.follow_btn {
  margin: 20px 0 4px 0;
  border-radius: 20px;
  padding: 4px 20px;
  color: white;
  cursor: pointer;
}

.follow {
  background-color: #A71286;
}

.follow_cancel {
  background-color: rgb(185, 185, 185);
}

/* モーダル本体 */
/* （編集ボタンを押した時、表示される） */
.my_modal {
  width: 40%;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #f5f5f5;
  z-index: 7;
  padding: 10px 20px;
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* 外側の暗い所 */
.modal-overlay {
  z-index: 6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.75);
}

.imglist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.imglist img {
  padding: 10px;
  width: 330px;
  height: 330px;
  -o-object-fit: cover;
     object-fit: cover;
}

.imglist_wrap {
  width: 100%;
}

.like_icon {
  width: 26px;
  margin: 8px;
}

.about {
  width: 90%;
  margin: 0 auto;
}
.about__siteTitle1 {
  font-size: 24px;
  color: #A71286;
}
.about__siteTitle2 {
  font-size: 24px;
}

.contact_form {
  border: 0.1px solid #dfdfdf;
  border-radius: 2px;
  padding: 4px 12px;
  margin-bottom: 8px;
  width: 270px;
  /* 選択時 */
}
.contact_form:focus {
  border: 2px solid #A71286;
  outline: 0;
}

.contact_form_textarea {
  border: 0.1px solid #dfdfdf;
  border-radius: 2px;
  padding: 4px 12px;
  margin-bottom: 8px;
  width: 360px;
  margin-top: 6px;
  /* 選択時 */
}
.contact_form_textarea:focus {
  border: 2px solid #A71286;
  outline: 0;
}

.subtitle {
  padding-top: 40px;
}

.profile_img {
  border-radius: 2px;
  cursor: pointer;
  width: 240px;
  height: 240px;
}

/* textarea のスタイル */
.profile_input {
  border: 0.1px solid #dfdfdf;
  border-radius: 2px;
  font-weight: bold;
  padding: 4px 12px;
  /* 選択時 */
}
.profile_input:focus {
  border: 2px solid #A71286;
  outline: 0;
}

/* textarea のスタイル */
.profile_textarea {
  width: 420px;
  height: 160px;
  border: 0.1px solid #dfdfdf;
  border-radius: 2px;
  /* 選択時 */
}
.profile_textarea:focus {
  border: 2px solid #A71286;
  outline: 0;
}

.profile__follow_followers {
  display: inline-flex;
}
.profile__follow_followers__btn {
  margin: 6px 16px;
  cursor: pointer;
}
.profile__name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile__name p {
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
}
.profile__name img {
  width: 20px;
  cursor: pointer;
  margin-left: 5px;
}

.user_des {
  width: 500px;
  margin: 0 auto;
  margin-top: 12px;
}

.my_modal__title {
  margin: 0 auto;
  margin-bottom: 12px;
  display: inline-flex;
}
.my_modal__title p {
  font-size: 26px;
  padding: 4px 24px;
}
.my_modal__title__follow {
  border-bottom: 2px solid rgb(175, 175, 175);
}
.my_modal__title__follower {
  border-bottom: 2px solid rgb(175, 175, 175);
}
.my_modal__artists {
  text-align: left;
  font-size: 20px;
  margin-left: 40px;
}
.my_modal__artists tr {
  height: 50px;
}
.my_modal__img {
  text-align: left;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}
.my_modal__text {
  margin-left: 20px;
}

.register {
  border: solid;
}
.register__form {
  display: block;
}
.register__Title {
  font-size: 24px;
  color: #A71286;
}
.register__input {
  font-size: 16px;
  width: 100%;
}

.explain {
  color: rgb(109, 109, 109);
  margin-top: 10px;
}

.font22 {
  font-size: 22px;
}

.art_register_img {
  width: 400px;
  margin-bottom: 14px;
  margin-top: 40px;
}

.art_register_input {
  border: 0.1px solid #dfdfdf;
  border-radius: 2px;
  padding: 4px 12px;
  margin-bottom: 8px;
  width: 270px;
  /* 選択時 */
}
.art_register_input:focus {
  border: 2px solid #A71286;
  outline: 0;
}/*# sourceMappingURL=main.css.map */